body {
  background-image: linear-gradient(
    to bottom,
    rgba(176,196,222, 2),
    rgba(22, 22, 70, 0.15)
  );
  background-repeat: no-repeat;
}

.container {
    width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
}


