.container {
    display: flex;
    align-items: center;
}

.username {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.logout {
    width: 80px;
    height: 30px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #B9D9EB;
    box-shadow: 2px 2px 3px 3px #0E3386;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logout:hover {
    color: #B9D9EB;
    background-color: #0E3386;
}